.container{
    max-width: 1260px;
    margin-left: 160px;
    margin-right: 160px;
}

html{
    background-color: #edf2c5;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first {
    color:#778A50;
    font-size: 44px;
    margin-right: 468px;
    margin-top: 53px;
    margin-bottom: 8px;
    font-family: Arial Black;
}

.header img{
    width: 25px;
    height: 25px;
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 17px;
}

.line{
    height: 25px;
    border-right:solid #778A50 1px;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: 17px;
}

.header h2{
    font-size: 14px;
    color: #778A50;
    border: 1px solid #778A50;
    width: 60px;
    border-radius: 3px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 17px;
    margin-top: auto;
    margin-right: 10px;
    font-family: Arial Bold;
}

.header h3{
    font-size: 14px;
    color: #778A50;
    border: 1px solid #778A50;
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: 17px;
    font-family: Arial Bold;
}

nav{
    display: flex;
    justify-content: flex-start;
    background-size: 940px 44px;
    background-color: #778A50;
    margin-bottom: 20px;
}

.on{
    display: flex;
    padding-bottom: 16px;
    padding-top: 16px;
}

.home{
    flex: none;
    margin-left: 30px;
    margin-right: 60px;
    font-size: 16px;
    color: #edf2c5;
    font-family: Arial Black;
}

.about{
    flex: none;
    margin-right: 60px;
    font-size: 16px;
    color: #edf2c5;
    font-family: Arial Black;
}

.vegetables{
    flex: none;
    margin-right: 60px;
    font-size: 16px;
    color: #edf2c5;
    font-family: Arial Black;
}

.online{
    flex: none;
    margin-right: 60px;
    font-size: 16px;
    color: #edf2c5;
    font-family: Arial Black;
}

.contact{
    flex: none;
    margin-right: 317px;
    font-size: 16px;
    color: #edf2c5;
    font-family: Arial Black;
}

.mid{
    width: 940px;
    height: 448px;
}

.big{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 160px;
    justify-content: space-between;
    align-items: center;
}

.veg{
    background-color: #778A50;
    width: 415px;
    font-size: 16px;
    font-family: Arial Black;
    color: #edf2c5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.bottom{
    width: 444px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.right{
    margin-top: 30px;
    margin-bottom: 35px;
    margin-right: 160px;
}

.con{
    font-family: Arial Black;
    font-size: 16px;
    color: #edf2c5;
    background-color: #778A50;
    padding-left: 30px;
    padding-top: 17px;
    padding-bottom: 16px;
    width: 415px;
}

.pp{
    margin-top: 15px;
    margin-bottom: 35px;
    background-color: #F7FBDA;
    width: 445px;
    height: 144px;
}

.p1{
    font-family: Arial Regular;
    font-size: 12px;
    line-height: 1.33;
    color: #7D7D7D;
    padding-bottom: 16px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 16px;
}

.p2{
    font-family: Arial Regular;
    font-size: 12px;
    line-height: 1.83;
    color: #7D7D7D;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 16px;
}

.line1{
    width: 414px;
    border-bottom:solid #7d7d7d 1px;
    margin-right: 15px;
    margin-left: 15px;
}

footer{
    font-size: 12px;
    color: #edf2c5;
    background-color: #778A50;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 479px;
    padding-left: 479px;
    font-family: Arial Regular;
}